/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Inter',sans-serif;

}

body{

background:#F8FAFC;

color:#0F172A;

padding:40px;

line-height:1.8;

}

h1{

font-size:55px;

font-weight:700;

margin-bottom:10px;

}

h2{

margin-top:40px;

margin-bottom:20px;

color:#1E3A8A;

}

h3{

color:#2563EB;

margin-bottom:30px;

}

p{

font-size:18px;

margin-bottom:15px;

}

ul{

margin-left:25px;

}

li{

margin-bottom:15px;

font-size:18px;

}

hr{

margin-top:35px;

margin-bottom:35px;

border:none;

height:1px;

background:#D1D5DB;

}

a{

text-decoration:none;

color:#2563EB;

font-weight:bold;

}

a:hover{

color:#1E40AF;

}
